* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  --borderThickness: 2px;
}

.menuBar {
  background-color: transparent;
  border: var(--borderThickness) solid black;
  position: absolute;
}
